<h1>Blog Principal</h1>

<% @post.each do |post| %>
<div class="card mb-2" style="width: 75%;">
    <h3 class="card-title text-center"><%= post.title %></h3>
    <img class="card-img-top" src="<%= post.image_url %>" alt="Card image cap">
    <div class="card-body">
        <p class="card-text"><%= post.content %></p>
        <h6 class="card-subtitle mb-2 text-muted"><td><%= post.created_at %></td></h6>
    </div>
</div>
<% end %>