<h1>Acá se arman los artículos del blog</h1>
<form method="get" action="/posts/create">
    <div class="form-group">
        <label for="title">Título del artículo</label>
        <input name="title" type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="urlimage">URL de imagen</label>
        <input name="urlimage" type="text" class="form-control" id="urlimage">
    </div>
    <div class="form-group">
        <label for="bodyarticle">Contenido del artículo</label>
        <textarea name="body" class="form-control" id="bodyarticle" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Crear artículo</button>
</form>